
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Mongo Scraper</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
        <li><a href="saved">Saved Articles</a></li>
          <button type="submit" class="btn btn-warning navbar-btn">Scrape New Articles</button>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>


<div class="container">
  {{!-- Display the page title. --}}
  <div class="row" id="first-row">
    <div align="center" class="col-md-12">
      <h1>Mongo Scraper</h1>
      <h3>From Streetsblog San Francisco</h3>
    </div>
  </div>
  <div class="row" id="second-row">
    <div class="col-md-12">
    {{#if articles}}
    <ol>
      {{#each articles}}
        <li>
          Title: {{title}}<br>
          <button data-articleID="{{_id}}" class="change-save btn btn-warning" data-status="{{isSaved}}">
          {{#if isSaved}}
            Unsave Article
          {{else}}
            Save Article
          {{/if}}
        </button><br>
          Link: {{link}}<br>
          Summary: {{summary}}<br><br>
        </li>
      {{/each}}
    </ol>
    {{else}}
      <h2>There aren't any articles available.</h2>
    {{/if}}

    </div>
  </div>
</div>

<!-- Modal form. -->
{{!-- <div class="results-modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Added ?? new articles.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div> --}}